In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading to DatatFrame

In [2]:
bike_df = pd.read_csv("bike_sales_data_world_2013_2023.csv")
bike_df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,...,Rating,Shipping_Weight,Delivery_Time,Discount,Eco_Friendly,Shipping_Cost,Shipping_Company,Shipping_Type,Insurance,Return_Policy
0,2017-11-26,26,November,2017,19,Youth (<25),M,Canada,British Columbia,Accessories,...,4,13.25,2,25,True,40.58,GLS,Standard,Basic,30 Days
1,2014-11-26,26,November,2014,19,Youth (<25),M,Canada,British Columbia,Accessories,...,5,4.56,4,1,True,95.32,Posti,Same Day,NaN,30 Days
2,2019-03-23,23,March,2019,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,3,8.97,1,0,True,74.54,GLS,Express,Premium,7 Days
3,2015-03-23,23,March,2015,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,5,2.56,1,10,False,61.87,DHL,Same Day,NaN,7 Days
4,2018-05-15,15,May,2018,47,Adults (35-64),F,Australia,New South Wales,Accessories,...,5,11.21,1,6,False,19.82,GLS,Same Day,Basic,30 Days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,2014-04-12,12,April,2014,41,Adults (35-64),M,United Kingdom,England,Clothing,...,5,14.88,7,28,False,8.59,UPS,Standard,Basic,30 Days
226068,2015-04-02,2,April,2015,18,Youth (<25),M,Australia,Queensland,Clothing,...,5,3.39,1,24,False,21.63,Posti,Express,Basic,30 Days
226069,2021-04-02,2,April,2021,18,Youth (<25),M,Australia,Queensland,Clothing,...,3,5.33,2,24,False,67.75,FedEx,Standard,Basic,30 Days
226070,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,...,5,14.80,9,16,True,62.47,DHL,Next Day,NaN,7 Days
226071,2015-03-04,4,March,2015,37,Adults (35-64),F,France,Seine (Paris),Clothing,...,1,10.17,6,14,False,72.90,Posti,Same Day,Premium,7 Days

## Summary Analysis

In [3]:
bike_df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,Delivery_Time,Discount,Shipping_Cost
count,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000
mean,15.665753,2017.992887,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360,3.005724,7.748286,5.001009,14.488172,52.471199
std,8.781547,3.163415,11.021911,9.561836,549.834267,922.069180,453.886439,884.864161,1309.091778,1.416783,4.185197,2.579064,8.631218,27.398519
min,1.000000,2013.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000,1.000000,0.500000,1.000000,0.000000,5.000000
25%,8.000000,2015.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000,2.000000,4.120000,3.000000,7.000000,28.700000
50%,16.000000,2018.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000,3.000000,7.750000,5.000000,15.000000,52.580000
75%,23.000000,2021.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000,4.000000,11.360000,7.000000,22.000000,76.230000
max,31.000000,2023.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000,5.000000,15.000000,9.000000,29.000000,100.000000

In [4]:
bike_df.head(10)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,...,Rating,Shipping_Weight,Delivery_Time,Discount,Eco_Friendly,Shipping_Cost,Shipping_Company,Shipping_Type,Insurance,Return_Policy
0,2017-11-26,26,November,2017,19,Youth (<25),M,Canada,British Columbia,Accessories,...,4,13.25,2,25,True,40.58,GLS,Standard,Basic,30 Days
1,2014-11-26,26,November,2014,19,Youth (<25),M,Canada,British Columbia,Accessories,...,5,4.56,4,1,True,95.32,Posti,Same Day,NaN,30 Days
2,2019-03-23,23,March,2019,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,3,8.97,1,0,True,74.54,GLS,Express,Premium,7 Days
3,2015-03-23,23,March,2015,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,5,2.56,1,10,False,61.87,DHL,Same Day,NaN,7 Days
4,2018-05-15,15,May,2018,47,Adults (35-64),F,Australia,New South Wales,Accessories,...,5,11.21,1,6,False,19.82,GLS,Same Day,Basic,30 Days
5,2023-05-15,15,May,2023,47,Adults (35-64),F,Australia,New South Wales,Accessories,...,2,8.33,9,27,True,19.82,DHL,Next Day,Basic,60 Days
6,2015-05-22,22,May,2015,47,Adults (35-64),F,Australia,Victoria,Accessories,...,3,14.05,9,13,True,10.52,FedEx,Next Day,Basic,60 Days
7,2014-05-22,22,May,2014,47,Adults (35-64),F,Australia,Victoria,Accessories,...,3,10.46,6,8,False,87.29,GLS,Express,Basic,30 Days
8,2021-02-22,22,February,2021,35,Adults (35-64),M,Australia,Victoria,Accessories,...,3,14.73,6,5,False,62.11,UPS,Standard,Premium,No Return
9,2023-02-22,22,February,2023,35,Adults (35-64),M,Australia,Victoria,Accessories,...,5,12.28,6,9,False,72.27,UPS,Standard,NaN,No Return

In [5]:
bike_df['Country'].unique()

array(['Canada', 'Australia', 'United States', 'Germany', 'France',
       'United Kingdom', 'Austria', 'Denmark', 'Slovakia', 'Estonia',
       'Bulgaria', 'Malta', 'Lithuania', 'Finland', 'Poland', 'Italy',
       'Netherlands', 'Romania', 'Slovenia', 'Ireland', 'Luxembourg',
       'Portugal', 'Latvia', 'Sweden', 'Spain', 'Cyprus', 'Croatia',
       'Greece', 'Belgium', 'Czech Republic', 'Hungary'], dtype=object)

In [6]:
list_country = ['United States','Australia','United Kingdom','Germany','France','Canada']
bike_df = bike_df[bike_df['Country'].isin(list_country)]

## DATA ENCODING

In [7]:
bike_df["Age_Group"].unique()

array(['Youth (<25)', 'Adults (35-64)', 'Young Adults (25-34)',
       'Seniors (64+)'], dtype=object)

In [8]:
# Ensure bike_df is an independent copy to avoid modifying a slice
bike_df = bike_df.copy()

# Initialize new columns with default values of 0
bike_df['age_youth'] = 0
bike_df['age_y_adults'] = 0
bike_df['age_adults'] = 0
bike_df['age_senior'] = 0

# Update values using .loc[]
bike_df.loc[bike_df['Age_Group'] == "Youth (<25)", 'age_youth'] = 1
bike_df.loc[bike_df['Age_Group'] == "Adults (35-64)", 'age_y_adults'] = 1
bike_df.loc[bike_df['Age_Group'] == "Young Adults (25-34)", 'age_adults'] = 1
bike_df.loc[bike_df['Age_Group'] == "Seniors (64+)", 'age_senior'] = 1

In [9]:
bike_df = bike_df.drop(columns="Age_Group")

In [10]:
bike_df

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,...,Eco_Friendly,Shipping_Cost,Shipping_Company,Shipping_Type,Insurance,Return_Policy,age_youth,age_y_adults,age_adults,age_senior
0,2017-11-26,26,November,2017,19,M,Canada,British Columbia,Accessories,Bike Racks,...,True,40.58,GLS,Standard,Basic,30 Days,1,0,0,0
1,2014-11-26,26,November,2014,19,M,Canada,British Columbia,Accessories,Bike Racks,...,True,95.32,Posti,Same Day,NaN,30 Days,1,0,0,0
2,2019-03-23,23,March,2019,49,M,Australia,New South Wales,Accessories,Bike Racks,...,True,74.54,GLS,Express,Premium,7 Days,0,1,0,0
3,2015-03-23,23,March,2015,49,M,Australia,New South Wales,Accessories,Bike Racks,...,False,61.87,DHL,Same Day,NaN,7 Days,0,1,0,0
4,2018-05-15,15,May,2018,47,F,Australia,New South Wales,Accessories,Bike Racks,...,False,19.82,GLS,Same Day,Basic,30 Days,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,2014-04-12,12,April,2014,41,M,United Kingdom,England,Clothing,Vests,...,False,8.59,UPS,Standard,Basic,30 Days,0,1,0,0
226068,2015-04-02,2,April,2015,18,M,Australia,Queensland,Clothing,Vests,...,False,21.63,Posti,Express,Basic,30 Days,1,0,0,0
226069,2021-04-02,2,April,2021,18,M,Australia,Queensland,Clothing,Vests,...,False,67.75,FedEx,Standard,Basic,30 Days,1,0,0,0
226070,2016-03-04,4,March,2016,37,F,France,Seine (Paris),Clothing,Vests,...,True,62.47,DHL,Next Day,NaN,7 Days,0,1,0,0
226071,2015-03-04,4,March,2015,37,F,France,Seine (Paris),Clothing,Vests,...,False,72.90,Posti,Same Day,Premium,7 Days,0,1,0,0

In [11]:
bike_df.loc[bike_df['Customer_Gender'] == "M", "Customer_Gender"] = 1
bike_df.loc[bike_df['Customer_Gender'] == "F", "Customer_Gender"] = 0

bike_df['Customer_Gender'].unique()
bike_df['Customer_Gender'].astype("int64")

0         1
1         1
2         1
3         1
4         0
         ..
226067    1
226068    1
226069    1
226070    0
226071    0
Name: Customer_Gender, Length: 226047, dtype: int64

In [12]:
# Ensure you're working with a copy of the DataFrame to avoid slicing issues
bike_df = bike_df.copy()

# Initialize region columns
bike_df.loc[:, 'region_aus'] = 0
bike_df.loc[:, 'region_us'] = 0
bike_df.loc[:, 'region_eu'] = 0

# Define country lists
us_list = ["United States"]
eu_list = ["United Kingdom", "Germany", "France"]

# Assign values using .loc[]
bike_df.loc[bike_df['Country'] == "Australia", 'region_aus'] = 1
bike_df.loc[bike_df['Country'].isin(us_list), 'region_us'] = 1
bike_df.loc[bike_df['Country'].isin(eu_list), 'region_eu'] = 1

In [13]:
bike_df = bike_df.drop(columns="Country")

In [ ]:
bike_df

In [ ]:
bike_df['Month'].unique()

In [ ]:
from datetime import datetime
bike_df['Month'] = pd.to_datetime(bike_df['Month'], format='%B',errors ='coerce')
bike_df['Month'] = bike_df['Month'].dt.strftime("%m")
bike_df['Month']

In [ ]:
bike_df['Month'].astype("int64")

In [ ]:
bike_df = bike_df.drop(columns = ["Date","Day","Year","Customer_Age","State"])

In [ ]:
bike_df['Product_Category'].unique()

In [ ]:
bike_df['cat_accessories'] = 0
bike_df['cat_clothing'] = 0
bike_df['cat_bikes'] = 0

bike_df['cat_accessories'] = bike_df['cat_accessories'].mask(bike_df['Product_Category'] == "Accessories",1)
bike_df['cat_clothing'] = bike_df['cat_clothing'].mask(bike_df['Product_Category'] == "Clothing",1)
bike_df['cat_bikes'] = bike_df['cat_bikes'].mask(bike_df['Product_Category'] == "Bikes",1)

bike_df = bike_df.drop(columns="Product_Category")
bike_df

In [ ]:
bike_df = bike_df.drop(columns=["Sub_Category","Product"])

In [ ]:
bike_df

In [ ]:
bike_df['Size'].unique()

In [ ]:
#Initialize new columns with default values of 0
bike_df['size_xl'] = 0
bike_df['size_s'] = 0
bike_df['size_l'] = 0
bike_df['size_m'] = 0


#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['size_xl'] = bike_df['size_xl'].mask(bike_df['Size'] == "Extra Large", 1) 
bike_df['size_s'] = bike_df['size_s'].mask(bike_df['Size'] == "Small", 1) 
bike_df['size_l'] = bike_df['size_l'].mask(bike_df['Size'] == "Large", 1) 
bike_df['size_m'] = bike_df['size_m'].mask(bike_df['Size'] == "Medium", 1) 

bike_df = bike_df.drop(columns="Size")
bike_df

In [ ]:
bike_df['Material'].unique()

In [ ]:
#Initialize new columns with default values of 0
bike_df['mat_plas'] = 0
bike_df['mat_steel'] = 0
bike_df['mat_carb'] = 0
bike_df['mat_alum'] = 0


#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['mat_plas'] = bike_df['mat_plas'].mask(bike_df['Material'] == "Plastic", 1) 
bike_df['mat_steel'] = bike_df['mat_steel'].mask(bike_df['Material'] == "Steel", 1) 
bike_df['mat_carb'] = bike_df['mat_carb'].mask(bike_df['Material'] == "Carbon Fiber", 1) 
bike_df['mat_alum'] = bike_df['mat_alum'].mask(bike_df['Material'] == "Aluminum", 1) 

bike_df = bike_df.drop(columns="Material")
bike_df

In [ ]:
bike_df['Warranty'].unique()

In [ ]:
#Initialize new columns with default values of 0
bike_df['war_1'] = 0
bike_df['war_2'] = 0
bike_df['war_3'] = 0
bike_df['war_ll'] = 0



#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['war_1'] = bike_df['war_1'].mask(bike_df['Warranty'] == "1 Year", 1) 
bike_df['war_2'] = bike_df['war_2'].mask(bike_df['Warranty'] == "2 Years", 1) 
bike_df['war_3'] = bike_df['war_3'].mask(bike_df['Warranty'] == "3 Years", 1) 
bike_df['war_ll'] = bike_df['war_ll'].mask(bike_df['Warranty'] == "Lifetime", 1) 

bike_df = bike_df.drop(columns="Warranty")
bike_df

In [ ]:
bike_df = bike_df.drop(columns="Color")

In [ ]:
bike_df['Manufacturer'].unique()

In [ ]:
#Initialize new columns with default values of 0
bike_df['man_A'] = 0
bike_df['man_B'] = 0
bike_df['man_C'] = 0
bike_df['man_D'] = 0

#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['man_A'] = bike_df['man_A'].mask(bike_df['Manufacturer'] == "Manufacturer A", 1) 
bike_df['man_B'] = bike_df['man_B'].mask(bike_df['Manufacturer'] == "Manufacturer B", 1) 
bike_df['man_C'] = bike_df['man_C'].mask(bike_df['Manufacturer'] == "Manufacturer C", 1) 
bike_df['man_D'] = bike_df['man_D'].mask(bike_df['Manufacturer'] == "Manufacturer D", 1) 


bike_df = bike_df.drop(columns="Manufacturer")
bike_df

In [ ]:
bike_df.info()

In [ ]:
bike_df['Insurance'] = bike_df['Insurance'].fillna("No insurance")

In [ ]:
bike_df['Insurance'].unique()

In [ ]:
bike_df['insur_basic'] = 0
bike_df['insur_premium'] = 0
bike_df['insur_0'] = 0

bike_df['insur_basic'] = bike_df['insur_basic'].mask(bike_df['Insurance'] == "Basic",1)
bike_df['insur_premium'] = bike_df['insur_premium'].mask(bike_df['Insurance'] == "Premium",1)
bike_df['insur_0'] = bike_df['insur_0'].mask(bike_df['Insurance'] == "No insurance",1)

bike_df = bike_df.drop(columns="Insurance")
bike_df

In [ ]:
bike_df['Shipping_Type'].unique()

In [ ]:
#Initialize new columns with default values of 0
bike_df['ship_standard'] = 0
bike_df['ship_samed'] = 0
bike_df['ship_express'] = 0
bike_df['ship_nextd'] = 0

#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['ship_standard'] = bike_df['ship_standard'].mask(bike_df['Shipping_Type'] == "Standard", 1) 
bike_df['ship_samed'] = bike_df['ship_samed'].mask(bike_df['Shipping_Type'] == "Same Day", 1) 
bike_df['ship_express'] = bike_df['ship_express'].mask(bike_df['Shipping_Type'] == "Express", 1) 
bike_df['ship_nextd'] = bike_df['ship_nextd'].mask(bike_df['Shipping_Type'] == "Next Day", 1) 


bike_df = bike_df.drop(columns="Shipping_Type")
bike_df

In [ ]:
bike_df['Return_Policy'].unique()

In [ ]:
#Initialize new columns with default values of 0
bike_df['return_30'] = 0
bike_df['return_7'] = 0
bike_df['return_60'] = 0
bike_df['return_0'] = 0

#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['return_30'] = bike_df['return_30'].mask(bike_df['Return_Policy'] == "30 days", 1) 
bike_df['return_7'] = bike_df['return_7'].mask(bike_df['Return_Policy'] == "7 days", 1) 
bike_df['return_60'] = bike_df['return_60'].mask(bike_df['Return_Policy'] == "60 days", 1) 
bike_df['return_0'] = bike_df['return_0'].mask(bike_df['Return_Policy'] == "No Return", 1) 


bike_df = bike_df.drop(columns="Return_Policy")
bike_df

In [ ]:
bike_df.info()

In [ ]:
bike_df['Eco_Friendly'] = bike_df['Eco_Friendly'].astype(int)
bike_df[['Month', 'Customer_Gender']] = bike_df[['Month', 'Customer_Gender']].astype("int64")

In [ ]:
bike_df = bike_df.drop(columns='Shipping_Company')

In [ ]:
bike_df.info()

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
bike_df = pd.DataFrame(scaler.fit_transform(bike_df), columns=bike_df.columns)
bike_df

## CORRELATION EVALUATION

In [ ]:
corr_matrix = bike_df.corr()

#heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=False, cmap="coolwarm", fmt='.2f')
plt.show()

In [ ]:
filtered_matrix = corr_matrix.mask((corr_matrix > -0.4) & (corr_matrix < 0.4))
filtered_matrix

## LINEAR REGRESSION

In [ ]:
from sklearn.model_selection import train_test_split

X = bike_df.drop(columns=["Order_Quantity"])
y = bike_df['Order_Quantity']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)
model.predict(X_test)

print("R-squared:", model.score(X_test, y_test))
print("Coef_", model.coef_)